<a mat-flat-button color="accent" [routerLink]="''">Revenir à la liste</a>

<!--
    TODO: afficher les détails du produit, gérer les propriétés facultatives
-->
<div class="col-center">
    <h4>{{ product.name }}</h4>
    <p>description : {{ product.description }}</p>
    <h2>prix : {{ product.price }} €</h2>
    <p>en stock : {{ product.inStock?'Oui':'Non' }}</p>
</div>

<button mat-flat-button color="warn" class="btn" (click)="onDelete()">Supprimer le produit</button>
<button mat-flat-button color="primary" class="btn" (click)="onModify()">Modifier</button>
