<!--
    Formulaire / Inputs modification du produit
    Bouton submit / enregistrer modifs
    importance de regrouper les propriétés { ...product, ...res } ?
    on veut pouvoir ajouter dans les champs qui n'existent pas encore
    mais ne renvoyer au serveur que ce qui est renseigné
    attention : name et price sont obligatoire sur la bd
-->
<div class="col-sm-8 col-sm-offset-2">
    <div>
        <div>
            <label>Nom du produit</label>
            <input type="text" id="name" [(ngModel)]="name">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" [(ngModel)]="description">
        </div>
        <div>
            <label for="price">Prix</label>
            <input type="number" id="price" [(ngModel)]="price">
        </div>
        <div>
            <label for="inStock">Le produit est-il disponible ?</label>
            <select id="inStock" [(ngModel)]="inStock">
                <option value="false">Non</option>
                <option value="true">Oui</option>
            </select>
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">Modifier</button>
    </div>
</div>
<button class="btn btn-primary" (click)="onCancel()">Annuler</button>
